.feature {

    background-color: $lightGrayishBlue;


    &__intro {
        margin-bottom: 3.5rem;

        @include breakpoint-up(large) {
            margin-bottom: 4.5rem;
            width: 60%;
        }
    }

    &__grid {
        display: flex;
        flex-direction: column;
        justify-content: space-between;


        @include breakpoint-up(medium) {
            flex-flow: row wrap;

        }

        @include breakpoint-up(large) {
            width: 1110px;
        }
    }


    &__item {
        text-align: center;
        margin-bottom: 32px;

        @include breakpoint-up(medium) {
            width: 43%;
            text-align: left;


        }

        @include breakpoint-up(large) {
            margin-bottom: 0;
            width: 23%;
        }
    }

    &__icon {
        margin-bottom: 1.5rem;

        @include breakpoint-up(large) {
            margin-bottom: 2.5rem;
        }
    }

    &__title {
        font-size: 1.25rem;
        font-weight: 300;
        line-height: 1.75rem;
        color: $darkBlue;
        letter-spacing: -0.022321rem;
        margin-bottom: 1rem;

        @include breakpoint-up(large) {
            font-size: 1.5rem;
            letter-spacing: -0.026786rem;
            margin-bottom: 1.625rem;
        }
    }

    &__description {
        font-size: 15px;
        line-height: 25px;
        letter-spacing: -0.234375px;

        @include breakpoint-up(large) {
            font-size: 16px;
            line-height: 26px;
            letter-spacing: -0.25px;
        }
    }
}
