html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Public Sans', sans-serif;
    font-size: $font-med;
    color: $grayishBlue;
    line-height: 1.3;

    &.noScroll {
        overflow: hidden;
    }

}

h1,
h2,
h3 {
    margin-top: 0;
    line-height: 2.375rem;
    font-weight: 300;
    color: $darkBlue;
}

h1 {
    font-size: 2.5rem;
    letter-spacing: -0.044643rem;
    margin-bottom: 1rem;

    @include breakpoint-up(large) {
        font-size: $font-xlg;
        line-height: 4rem;
        letter-spacing: -1px;
    }
}

h2 {
    font-size: 2rem;
    letter-spacing: -0.035714rem;
    text-align: center;

    @include breakpoint-up(large) {
        font-size: 2.5rem;
        line-height: 4rem;
        letter-spacing: -0.044643rem;
        text-align: left;
        margin-bottom: 1rem;
    }
}


p {
    line-height: 1.5625rem;
    font-size: .9375rem;
    letter-spacing: -0.014648rem;
    margin-bottom: 2rem;
    text-align: center;

    @include breakpoint-up(large) {
        font-size: $font-med;
        line-height: 1.75rem;
        letter-spacing: -0.017578rem;
        text-align: left;
    }
}

a,
a:visited,
a:hover {
    text-decoration: none;

}

//Spacing
.container {
    max-width: 69.375rem; //1110px
    margin: 0 auto;

    &--pall {
        padding-top: 4rem;
        padding-bottom: 4rem;
        padding-right: 1.5rem;
        padding-left: 1.5rem;

        @include breakpoint-up (large) {
            padding-top: 6rem;
            padding-bottom: 6rem;
        }
    }

    &--py {
        padding-top: 4rem;
        padding-bottom: 4rem;

        @include breakpoint-up (large) {
            padding-top: 6rem;
            padding-bottom: 6rem;
        }
    }

    &--px {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }

    &--pt {
        padding-top: 4rem;

        @include breakpoint-up (large) {
            padding-top: 6rem;

        }
    }

    &--pr {
        padding-right: 1.5rem;
    }

    &--pb {
        padding-bottom: 4rem;

        @include breakpoint-up (large) {
            padding-bottom: 6rem;
        }
    }

    &--pl {
        padding-left: 1.5rem;
    }
}


//Flexbox
.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-js-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }

}

//Button Styles

button,
.button {
    padding: .5rem 2.125rem .5rem 2.0625rem;
    background: linear-gradient(135deg, $limeGreen 0%, $brightCyan 99.58%);
    border: 0;
    border-radius: 1.375rem;
    cursor: pointer;
    color: $white;
    font-weight: 700;
    font-size: $font-sm;
    line-height: 1.75rem;
    opacity: 1;
    transition: opacity 200ms ease-in-out;
    display: inline-block;

    &:hover {
        opacity: 0.4;
    }
}

//Visibility
.hide-for-mobile {

    //hide for tablet and mobile
    @include breakpoint-down(medium) {
        display: none;
    }
}

.hide-for-desktop {

    //hide for desktop viewpoints widths
    @include breakpoint-up(large) {
        display: none;
    }
}