.hero {

    background-color: $veryLightGray;

    .container {
        @include breakpoint-up(large) {
            display: flex;
            align-items: center;
        }
    }

    &__image {
        position: relative;
        background-image: url('/images/bg-intro-mobile.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 19rem;

        @include breakpoint-up(medium) {
            min-height: 25rem;
            background-position: center 70%;
        }


        @include breakpoint-up(large) {
            flex: 3;
            order: 2;
            min-height: 41rem;
            background-image: none;
            //background-image: url('/images/bg-intro-desktop.svg');
            // background-position: left center;
        }

        &::before {

            @include breakpoint-up(large) {
                content: "";
                height: 100%;
                position: absolute;
                background-image: url(/images/bg-intro-desktop.svg);
                //background-size: 93%;
                background-repeat: no-repeat;
                background-position: center bottom;
                width: 150%;
                background-size: 122%;
                background-position: 0% 83%;
            }
        }


        &::after {
            content: "";
            height: 100%;
            width: 100%;
            position: absolute;
            background-image: url(/images/image-mockups.png);
            background-size: 93%;
            background-repeat: no-repeat;
            background-position: center bottom;

            @include breakpoint-up(medium) {
                background-size: 52%;
            }

            @include breakpoint-up(large) {
                width: 120%;
                height: 122%;
                background-size: 95%;
                background-position: center 137%;
                left: 29%;
            }
        }
    }


    &__text {
        text-align: center;
        padding-top: 1.0625rem;
        padding-bottom: 5.5rem;

        @include breakpoint-up(large) {
            flex: 2;
            order: 1;
            text-align: left;
        }

        h1 {
            font-weight: 300;
            color: $darkBlue;
            font-size: 2.5rem;
            line-height: 2.9375rem;
            letter-spacing: -0.044643rem;
            margin-bottom: 1rem;

            @include breakpoint-up(large) {
                font-size: $font-xlg;
                line-height: 4rem;
                letter-spacing: -0.0625rem;
            }
        }

        p {
            line-height: 1.5625rem;
            font-size: .9375rem;
            letter-spacing: -0.014648rem;
            margin-bottom: 2rem;

            @include breakpoint-up(large) {
                font-size: $font-med;
                line-height: 1.75rem;
                letter-spacing: -0.017578rem;
            }
        }
    }
}